.container{
    height: 84vh;
    width:40vw;
    margin: 5% auto;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 0px 35px #888888;
}
#display{
    width:40vw;
    height: 14vh;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
button{
    border: 1px solid black;
    height:14vh;
    background-color: white;
    transition: 0.5s ease-in-out;
}
button:hover{
    background-color: black;
    color: white;
}